<ul class="sidemenu">
    <li class="sideitem sideitem1"><a href="#mode=1">mode 1</a></li>
    <li class="sideitem sideitem2"><a href="#mode=2">mode 2</a></li>
    <li class="sideitem sideitem3"><a href="#mode=3">mode 3</a></li>
    <li class="sideitem sideitem4"><a href="#mode=4">mode 4</a></li>
</ul>