<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/global.css">
</head>
<body>
    <header id="sideheader">{{header}}</header>
    <div id="sidebar">{{sidebar}}</div>
    <div id="sidecontent"><h1>{{page}}</h1>{{content}}</div>
    <footer id="sidefooter">{{footer}}</footer>
</body>
</html>