<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/register/index.css">
    <!-- <script src="frontend.js"></script> -->
</head>
<body>
<div class="layout-container" style="--column-count: {{columnCount}}">{{headerDivs}}{{dataDivs}}</div>
</body>
</html>